h1 {
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

p{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

header {
    background-color: aquamarine;
}

h2 {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

.navbar-brand {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navbar-brand img{
    width: 150px;
    height: auto;
}

.nav-item{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-link{
    color: aquamarine;
}

.bigQuestion{
    margin-top: 2%;
    margin-bottom: 0;
}

.card-group{
    margin:5%;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
    justify-content: center;
}   

.card {
    margin: 3%;
    width: 225px;
    height: 300px;
    min-width: 225px;
    border: 2px solid black; /* Ensure a solid black border */
    border-left: 2px solid black !important; /* Force left border */
    border-radius: 2px;
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;

}

.cardLinks{
    margin: 1%;
}

body span{
    color: aquamarine;
}

.card-img-top{
    height: 150px;
}

.card:hover {
    transform: scale(1.1);
    border:3px solid aquamarine;
    border-left: 3px solid aquamarine !important;
    cursor: pointer;
}

body{
    justify-content: center;
    align-items: center;
}

/*took the basis of the below code from copilot and edited it into my own class and altered it to match the appearance of the rest of my site */
.hiddenDiv {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    background: aquamarine;
    padding: 0 20px;
}
table{
    border: 1px solid black;
    margin: 2%;
}

td{
    border: 1px solid black;
}
th{
    border: 1px solid black;
    padding: 2%;
}

#map1, #map2, #map3, #map4, #map5, #map6 {
    height: 400px;
    width: 100%;
}
